.ant-tabs.shop_order__manager > .ant-tabs-nav .ant-tabs-nav-wrap{
    background: rgb(255, 255, 255);
    padding: 4px 12px;
    max-width: 1155px ;
    z-index: 100;
    top: 0;
}
.submit_btn{
    background: #fff;
    width: 1150px;
    margin-left: 37px;
    display: flex;
    justify-content: right;
    padding: 16px 24px ;
    border-radius: 12px;
    position: sticky;
    bottom: 0;
}
.submit__btn_changeStatus{
    padding: 6px 24px;
    background: rgb(17, 120, 255);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}