.order_Container {
    width: 1150px;
    max-width: 100%;
    margin: 0 auto;
}
.submitChangeStatusOrder{
    width: 1150px;
    height: 60px;
    border-radius: 8px;
    background: #fff;
    margin-left: 35px;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.25);
}
.total_order{
    padding: 8px 32px;
    text-align: right;
    /* font-weight: 500; */
}
.img_noData{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.total_order span{
    color: red;
    font-size: 15px;
    text-decoration: underline;
}
.submitChangeStatus{
    padding: 4px 24px;
    background: rgb(34, 86, 255);
    color: #fff;
    display: block;
    margin-left: auto;
    height: 40px;
    border:0;
    margin-top: 3px;
    margin-right: 24px;
    border-radius: 8px;
    cursor: pointer;
}
.order_item .order_item_middle:not(:last-child)::after {
    content: '';
    width: 96%;
    height: 1px;
    background: rgb(179, 179, 179);
    position: absolute;
    bottom: 0;
    left: 2%;
}
.order_header {
    display: grid;
    grid-template-columns:  40% 10% 10% 25% 15%;
    background-color: white;
    align-items: center;
    height: 40px;
    margin-top: 5px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    margin-bottom: 10px;
}

.order_header p {
    margin-bottom: 0;
    font-size: 0.9rem;
    opacity: 0.9;
    font-weight: 400;
}

.order_header p:nth-child(1) {
    margin-left: 50px;
}

.order_list {
    padding-left: 0;
    list-style: none;
}

.order_item_header {
    height: 40px;
    padding: 0 25px 0 15px;
}

.order_item_header_box{
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.order_item_right,.order_item_left
 {
    display: flex;  
    align-items: center;
}

.order_item_right .order_item_sdh span {
    display: inline-block;
    color:rgb(107, 107, 248);
    margin-left: 0;
}

.order_item_right span{
    margin-left: 10px;
}


.order_item_sdh {
    margin-bottom: 0;
}

.order_item_middle,.order_info_info,.order_info_product {
    display: flex;
}

.order_item_middle {
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 20% 10%;
    padding: 20px 25px 10px 15px;
    position: relative;
}   

.order_info_price_box {
    margin-left: 10px;
}

.order_item_input {
    margin-right: 20px;
}

.order_item_name {
    margin: 0 10px;
    font-weight: 500;
    color: rgb(107, 107, 248);
}

.order_item {
    margin-bottom: 18px;
    background-color: white;
    border-radius: 15px;
    /* padding: 0 25px 0 15px; */
}

.order_info_img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 25px;
}

.order_info {
    margin-left: 5px;
}

.order_info .order_info_title {
    font-weight: 600;
    line-height: 1.3rem;
    overflow: hidden;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.order_info_new p{
    margin-bottom: 0;
}

.order_info_price_box p {
    margin-bottom: 0;
}
.order_info_price span,
.order_info_new p span {
    font-size: 0.7rem;
    text-decoration: underline;
}

.order_info_price_amount {
    font-size: 1.2rem;
    color: blue;
    font-weight: 600;
}

.order_info_delivery {
    border: 1px solid blue;
    padding: 0 5px;
    color: blue;
    display: inline-block;
    margin-top: 5px;
    border-radius: 3px;
}

.order_info_standard {
    font-weight: 600;
    margin-bottom: 0;
}

.order_info_hrs {
    margin: 5px 0;
    display: inline-block;
    border-radius: 8px;
    font-size: 0.8rem;
    border: 2px solid #579df9;
    padding: 0 8px;
    color: blue;
    background-color: #d5e3fe;
}

.order_info_btn {
    display: block;
    border: none;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.832);
    background-color: rgba(0, 0, 255, 0.766);
    margin-bottom: 5px;
}

@media  only screen and (max-width:769px){
    .order_item {
        display: none;
    }
    .order_header p:nth-child(1){
        margin-left: 0;
    }
    .order_header {
        grid-template-columns: 20% 20% 20% 20% 20%;
        text-align: center;
    }
}