.process .ant-progress-bg {
  background-color: blueviolet;
}
.process2 .ant-progress-bg {
  background-color: rgb(239, 11, 11);
}
.process3 .ant-progress-bg {
  background-color: rgb(112, 207, 147);
}
