.flterSpan {
    display: block;
    margin: 12px 16px 0 16px;
}

.filter {
    display: flex;
}

.filterInput {
    display: flex;

}

.ant-select {
    width: 30%;
}

.width33 {
    width: 33%;
    margin: 12px;
}

.search {
    width: 70%;
}

.width70 {
    width: 70%;
}

.ant-select-selector {
    border-radius: 6px;
}

.inp_search {
    position: relative;
}

.searchicon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 1000;
}