.AddAdress_btn{
    margin: 0 auto;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: rgb(8, 148, 255);
    display: flex;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
}
.UpdateAddress{
    margin: 10px;
}
.form-info{
    display: flex;
}
