.container {
    display: flex;
    background-color: white;
}

.slider {
    margin-bottom: 20px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@media  only screen and (max-width:769px){
    .container_box {
        display: none;
    }
    .slider {
        margin-top: 10px;
    }
}
