.container {
    display: flex;
    background-color: white;
    
}
.slider {
    width: 1240px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}

@media  only screen and (max-width:769px){
    .container_box {
        display: none;
    }
    .slider {
        margin-top: 10px;
    }
}
