.main-title {
  margin: 20px 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 16px;
}
.main-title h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  color: rgb(0, 0, 0);
  line-height: 28px;
  text-transform: uppercase;
  flex-basis: calc(797px);
}

.main-title-sub {
  border: 1px solid rgb(111, 85, 237);
  background: rgb(255, 255, 255);
  padding: 7px 12px 6px;
  color: rgb(111, 85, 237);
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  position: relative;
  line-height: 1.15;
  z-index: 111;
}

.main-title-sub span {
  display: inline-block;
  margin-left: 10px;
}

.main-title-sub img {
  display: inline-block;
  margin-right: 10px;
  max-width: 100%;
}

.total-cart {
  background: rgb(255, 255, 255);
  padding: 9px 16px;
  border-radius: 4px;
  color: rgb(36, 36, 36);
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 12px;
  position: sticky !important;
  top: 20px !important;
  z-index: 99;
  display: grid;
  grid-template-columns: 415px 190px 130px 130px 30px;
  -webkit-box-align: center;
  align-items: center;
}
.total-cart::before {
  content: "";
  background: rgb(245, 245, 250);
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0px;
  top: -20px;
  right: 0px;
}
.total-cart::after {
  content: "";
  background: rgb(245, 245, 250);
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0px;
}
.totalcart-container {
  display: flex;
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.totalcart-left {
  flex: 1 1 calc(100% - 925px);
  margin-left: 20px;
  display: block;
}

.container-total {
  width: 1240px;
  margin-right: auto;
  margin-left: auto;
}
.CartHeaer-CartContainer {
  background-color: #f5f5fa !important;
  margin-bottom: 30px;
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
