.main-title {
    margin: 20px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    font-size: 20px;
}

.main-title-sub {
    border: 1px solid rgb(0, 171, 86);
    background: rgb(255, 255, 255);
    padding: 7px 12px 6px;
    color: rgb(0, 171, 86);
    font-size: 14px;
    font-weight: 500;
    border-radius: 100px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.main-title-sub img {
    display: inline-block;
    margin-right: 10px;
    max-width: 100%;
}

.total-cart {
    background: rgb(255, 255, 255);
    padding: 9px 16px;
    border-radius: 4px;
    color: rgb(36, 36, 36);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 12px;
    position: sticky;
    z-index: 99;
    display: grid;
    grid-template-columns: 415px 190px 130px 130px 30px;
    -webkit-box-align: center;
    align-items: center;
}
.totalcart-container {
    display: flex;
}

.totalcart-left {
    flex: 1 1 calc(100% - 925px);
    margin-left: 20px;
    display: block;
}