*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(245, 245, 250) !important;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.userInformation {
  display: flex;
  background-color: rgb(245, 245, 250);
}
.profile{
  display: flex;
}

body {
  background-color: #f5f5fa;
}
