*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(245, 245, 250) !important;
}

.App {
  width: 1240px;
  max-width: 100%;
  margin: 0 auto;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.userInformation {
  display: flex;
  background-color: rgb(245, 245, 250);
  width: 100%;
}
.profile{
  display: flex;
}

body {
  background-color: #f5f5fa;
}

@media screen and (max-width: 768px){
  .profile{
    display: flex ;
    flex-direction: column;
  }
  .userInformation {
    flex-direction: column;
  }
}
