*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(245, 245, 250) !important;
}

.App {
  width: 1240px;
  max-width: 100%;
  margin: 0 auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.userInformation {
  display: flex;
  background-color: rgb(245, 245, 250);
  width: 100%;
  margin-bottom: 40px;
}
.profile{
  display: flex;
}

body {
  background-color:  #e5e7ea;
  padding: 20px;
}


#filter_checked {
  color: blue;
  font-weight: 700;
  border-bottom: 4px solid blue;
}

.filter_checked {
  color: blue;
  font-weight: 700 ;
  border-bottom: 4px solid blue;
}

